<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sr.batis.mapper.UserMapper">
    <!-- dynamic sql -->
    <sql id="whereClause">
            <if test="username!= null and username!=''">
                AND username LIKE '%${username}%'
            </if>
            <if test="sex != null and sex !=''">
                AND sex = #{sex}
            </if>
    </sql>
    

    <select id="selectAll" resultType="user">
        select * from tb_user
    </select>
</mapper>

